<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.0</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin" />
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="8080"
                  httpsPort="9443" />

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/app-singer" location="app-singer.war" />
    <cors domain="/app-singer"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowedHeaders="origin, content-type, accept, authorization, cache-control"
          maxAge="3600" />
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <library id="PostgreSQLLib">
        <fileset dir="C:/Users/aamon/.m2/repository/org/postgresql/postgresql/42.6.0" includes="postgresql-42.6.0.jar" />
    </library>

    <dataSource jndiName="jdbc/pgDataSource" transactional="true">
        <jdbcDriver libraryRef="PostgreSQLLib" javax.sql.DataSource="org.postgresql.ds.PGSimpleDataSource" />
        <!--<properties user="inamjean" password="0QP6mqysrgfNCDNQwyzeN7p7S0DkITAq" URL="jdbc:postgresql://bubble.db.elephantsql.com/inamjean" />-->
        <properties user="uosarexk" password="56KyNEpPergyevMtmVtvP-7uFr28GROi" URL="jdbc:postgresql://lallah.db.elephantsql.com/uosarexk" />
    </dataSource>
</server>